<header class="header">
  <h1 class="header__title">Pathfinding Visualizer</h1>
  <app-dropdown
    buttonText="Algorithms"
    [items]="algorithmsOptions"
    (itemSelected)="onAlgorithmSelected($event)"
  ></app-dropdown>
  <app-dropdown
    [items]="mazesOptions"
    buttonText="Mazes"
    (itemSelected)="onMazeAlgorithmSelected($event)"
  ></app-dropdown>
  <button
    tuiButton
    size="m"
    type="button"
    (click)="onAlgoClick()"
  >
    Run Algo
  </button>
  <button
    tuiButton
    size="m"
    type="button"
    appearance="secondary"
    (click)="onClearPath()"
  >
    Clear Path
  </button>
  <button
    tuiButton
    size="m"
    type="button"
    appearance="secondary"
    (click)="onClearWalls()"
  >
    Clear Walls
  </button>
  <app-dropdown
    [items]="animationSpeedOptions"
    buttonText="Speed"
    (itemSelected)="onAnimationSpeedSelected($event)"
  ></app-dropdown>
</header>
