@use '../_variables.scss' as *;

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: $primary-color;
  height: 100px;
  padding: 22px 23px;
  box-shadow: 0px 4px 21px rgba(24, 31, 72, 0.52);

  &__nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    flex: 1;
    margin-left: 40px;
    max-width: 1370px;
  }

  .button--error tui-wrapper[data-appearance='secondary'] {
    color: #eb002b;
  }

  tui-wrapper[data-appearance='primary'] {
    background-color: #30d8cc;
    color: $primary-color;
    width: 210px;

    &[data-state='hovered'] {
      background: $secondary-color;
    }

    &[data-state='pressed'] {
      background: $secondary-color;
    }

    &[data-state='disabled'] {
      background: #eaecee;
    }
  }

  &__title {
    letter-spacing: .5px;
    font: 800 28px/56px 'Manrope', sans-serif;
    font-feature-settings: 'liga' off;
    color: #fbeded;
    margin: 0;
  }
}
