@use '../_variables.scss' as *;

:host {
  display: flex;
  flex: 1;
  pointer-events: auto;

}
.node {
  width: 100%;
  border-right: 1px solid $node-border-color;
  border-bottom: 1px solid $node-border-color;

  //border-right: 1px solid #95AAF8;
  //border-left: 1px solid #95AAF8;

  &--visited {
    background-color: $secondary-color;
    animation: visitAnimation 1.5s ease-out 0s 1 alternate forwards running;

    border-right: 1px solid $node-border-color;
    border-bottom: 1px solid $node-border-color;
    //border-right: 1px solid #95AAF8;
    //border-left: 1px solid #95AAF8;
  }

  &--wall,
  &--start,
  &--finish,
  &--path {
    border-color: transparent;
    animation: scaleAnimation .4s ease-out;
  }

  &--wall {
    background-color: #0c3547ff;
  }

  &--start {
    background-color: green;
  }

  &--finish {
    background-color: red;
  }

  &--path {
    background-color: yellow;
  }
}

@keyframes visitAnimation {
  0% {
    border-radius: 50%;
    transform: scale(0);
    background-color: rgb(7, 7, 189);
  }
  50% {
    background-color: rgb(53, 219, 231);
  }
  75% {
    transform: scale(1.2);
    background-color: rgba(0, 217, 159, 0.75);
  }
  100% {
    transform: scale(1.0);
    background-color: $primary-color;
  }
}

@keyframes scaleAnimation {
  0% {
    transform: scale(.3);
  }

  50% {
    transform: scale(1.1);
  }

  100% {
    transform: scale(1.0);
  }
}
