@use '../variables' as *;

.header {
  position: fixed;
  display: flex;
  width: 100%;
  align-content: baseline;
  justify-content: space-between;
  flex-wrap: wrap;
  background: $primary-color;
  height: 100px;
  padding: 22px 23px 42px;
  box-shadow: 0 4px 21px rgba(24, 31, 72, 0.52);
  overflow: hidden;
  transition: .5s;
  row-gap: 24px;
  z-index: 1;

  @media (min-width: $desktop-breakpoint) {
    position: static;
  }

  &--active {
    height: 610px;
  }

  &__toggle {
    position: relative;
    width: 60px;
    height: 56px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    cursor: pointer;

    .header__toggle-line {
      position: absolute;
      height: 4px;
      width: 40px;
      background-color: $secondary-color;
      border-radius: 4px;
      transition: .5s;

      &:nth-child(1) {
        transform: translateY(-15px);
        width: 25px;
        left: 15px;
      }

      &:nth-child(2) {
        transform: translateY(15px);
        width: 15px;
        left: 15px;
      }

      &:nth-child(3) {
        transform: translateX(5px);
      }
    }

    &--active {
      .header__toggle-line {
        &:nth-child(1) {
          width: 40px;
          transform: translateY(0) rotate(45deg);
          transition-delay: .125s;
        }

        &:nth-child(2) {
          width: 40px;
          transform: translateY(0) rotate(315deg);
          transition-delay: .25s;
        }

        &:nth-child(3) {
          transform: translateX(60px);
        }
      }
    }

    @media (min-width: $desktop-breakpoint) {
      display: none;
    }
  }

  &__nav {
    flex-basis: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 24px;
    align-items: flex-start;
    max-width: 1370px;


    @media (min-width: $desktop-breakpoint) {
      flex: 1;
      align-items: center;
      justify-content: space-between;
      flex-direction: row;
      margin-left: 40px;
    }
  }

  .button--error tui-wrapper[data-appearance='secondary'] {
    color: #eb002b;
  }

  tui-wrapper[data-appearance='primary'] {
    background-color: #30d8cc;
    color: $primary-color;
    width: 210px;

    &[data-state='hovered'] {
      background: $secondary-color;
    }

    &[data-state='pressed'] {
      background: $secondary-color;
    }

    &[data-state='disabled'] {
      background: #eaecee;
    }
  }

  &__title {
    letter-spacing: .5px;
    font: 800 23px/56px 'Manrope', sans-serif;
    font-feature-settings: 'liga' off;
    color: #fbeded;
    margin: 0;

    @media (min-width: 500px) {
      font-size: 28px;
    }
  }
}
