<button (click)="runAlgo()">Run Dijkstra</button>
<button (click)="clearBoard()">Clear Board</button>
<div style="height: 200px;"></div>
<section
  (mousedown)="startEditing()"
  (mouseup)="breakEdit()"
  (mouseleave)="breakEdit()"
  style="margin-top: 2px"
>
  <div
    class="row"
    *ngFor="let row of nodes; let rowIdx = index; trackBy: trackByRow"
  >
    <app-grid-node
      *ngFor="let column of nodes[rowIdx]; trackBy: trackByNode"
      [vm]="column"
      (addedWall)="onAddedWall($event)"
      (mouseEnter)="onDraw($event)"
    ></app-grid-node>
  </div>
</section>
