<tui-root>
  <app-header
    [isButtonsDisabled]="isButtonsDisabled"
    (onAlgoRunButtonWasClicked)="runAlgo()"
    (onClearPathWasClicked)="clearPath()"
    (onClearWallsWasClicked)="clearWalls()"
    (onClearBoardWasClicked)="clearBoard()"
    (onAlgorithmSelectedWasClicked)="onAlgorithmSelected($event)"
    (onMazeAlgorithmWasClicked)="onMazeAlgoSelected($event)"
    (onAnimSpeedWasClicked)="onAnimSpeedSelected($event)"
  ></app-header>
  <main>
    <app-legend [selectedAlgorithm]="this.selectedPathAlgo"></app-legend>
    <section
      (mousedown)="startEditing()"
      (mouseup)="stopEdit()"
      (mouseleave)="stopEdit()"
    >
      <div
        class="row"
        *ngFor="let row of getNodes(); trackBy: trackByRow"
      >
        <app-grid-node
          *ngFor="let column of row; trackBy: trackByNode"
          [vm]="column"
          (addedWall)="onAddedWall($event)"
          (mouseEnter)="onDraw($event)"
        ></app-grid-node>
      </div>
    </section>
  </main>
</tui-root>
