<tui-hosted-dropdown
  tuiDropdownAlign="left"
  [content]="dropdown"
  [(open)]="isOpen"
  [canOpen]="canOpen"
>
  <button tuiButton size="m" type="button" appearance="secondary" [iconRight]="icon">
    {{buttonText}}
  </button>
</tui-hosted-dropdown>
<ng-template #icon>
  <tui-svg
    class="icon"
    src="tuiIconChevronDown"
    [class.icon_rotated]="isOpen"
  ></tui-svg>
</ng-template>
<ng-template #dropdown>
  <tui-data-list>
    <button *ngFor="let item of items" tuiOption (click)="onClick(item)">
      {{item}}
    </button>
  </tui-data-list>
</ng-template>
